# History files
.Rhistory
.Rapp.history

# Unnecessary files
fish_mgmt_course_2008_roster.xls
readings/*.aux
readings/Depletion/Figs/*.pdf
readings/EnterDataExplore/Figs/*.pdf
readings/ExploreCPE/Figs/*.pdf
readings/ExploreLW/Figs/*.pdf
readings/Growth/Figs/*.pdf
readings/MarkRecapture/Figs/*.pdf
readings/Mortality/Figs/*.pdf
readings/PSD/Figs/*.pdf
readings/RSetup/Figs/*.pdf

.Rproj.user
